Repository hail-is/hail, pull requests merged in 2019-02, with the labels that each got.

#5246 fix signature of Backend.unpersist_matrix_table
  hail/python/hail/backend/backend.py
Labels: bug, tiny PR

#5253 Gateway: use cookies instead of query string to pass access token
  gateway/hail.nginx.conf.in
Labels: gateway

#5295 Fix bug in TableLeftJoinRightDistinct related to RVD physical key
  hail/python/test/hail/table/test_table.py
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/rvd/RVD.scala
Labels: prio:high

#5344 Hailpedia 404 fix, 301 redirect
  site/hail.nginx.conf
Labels: site-deployment
